annotated-types==0.7.0
argcomplete==3.7.0
arjun==2.2.7
attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.15.0
binaryornot==0.6.0
boolean.py==5.0
breezy==3.3.21
Brotli==1.2.0
brotlicffi==1.2.0.1
btrfsutil==7.0
cbor2==6.1.3
certifi==2026.6.17
cffi==2.1.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
configobj==5.0.9
contourpy==1.3.3
crit==4.2
cryptography==49.0.0
curl_adapter==1.2.1
curl_cffi==0.15.0
cycler==0.12.1
dbus-python==1.4.0
defusedxml==0.7.1
dicttoxml==1.7.16
distro==1.9.0
dnspython==2.8.0
dulwich==1.1.0
evdev==1.9.3
eventlet==0.41.0
fastbencode==0.3.10
filelock==3.29.3
fonttools==4.63.0
gbinder-python==1.3.1
gevent==26.5.0
Glances==4.5.5
gps==3.27.5
greenlet==3.5.1
httplib2==0.32.0
idna==3.18
iniconfig==2.3.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
kiwisolver==1.5.0
libvirt-python==12.5.0
license-expression==30.4.4
lit==22.1.8.dev0
louis==3.38.0
lxml==6.1.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
mercurial==7.2.3
merge3==0.0.16
moddb==0.15.0
more-itertools==11.1.0
mutagen==1.48.1
ndiff==7.99
nftables==0.1
numpy==2.5.1
nvchecker==2.20
orjson==3.11.9
packaging==26.2
patiencediff==0.2.19
pillow==12.3.0
pipx==1.15.0
pkg_resources==81.0.0
platformdirs==4.10.0
pluggy==1.6.0
podman-compose==1.6.0
protobuf==7.35.1
protontricks==1.14.1
psutil==7.2.2
pycairo==1.29.0
pyclip==0.7.0
pycparser==3.0
pycriu==4.2
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycurl==7.47.0
pydantic==2.13.4
pydantic_core==2.46.4
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
pyparsing==3.3.2
pytest==9.0.3
python-dateutil==2.9.0
python-debian==1.1.1
python-dotenv==1.2.2
python-xlib==0.33
pyxattr==0.8.1
PyYAML==6.0.3
pyzstd==0.19.1
QTermWidget==2.4.0
ratelimit==2.2.1
Reflector==2023.6.28.0.36.1
requests==2.34.2
reuse==6.2.0
rich==15.0.0
sentry-sdk==2.64.0
setuptools==83.0.0
shtab==1.8.1
six==1.17.0
smbus==1.1
soupsieve==2.8.4
structlog==26.1.0
TBB @ file:///startdir/src/build/python/python_build
tomlkit==0.15.0
tornado==6.5.7
typing-inspection==0.4.2
typing_extensions==4.16.0
ufw==0.36.2
umu-launcher==1.4.0
urllib3==2.7.0
userpath==1.9.2
validate==5.0.9
VapourSynth==77
vdf==4.0
waybackpack==0.6.4
websockets==16.0
wheel==0.47.0
xattr==1.3.0
xmltodict==1.0.4
xxhash==3.8.1
yq==4.1.1
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
zenmap==7.99
zope.event==6.2
zope.interface==8.5
